bin/
obj/
out/
bld/
artifacts/
publish/
publish*/

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs
*.ncb
*.aps
*.opendb
*.opensdf
*.sdf
*.VC.db
*.VC.VC.opendb
*.tss

.vscode/
.idea/
.history/
.vshistory/

TestResults/
*.trx
*.log
*.tlog
Logs/
log/
logs/
logs/*.txt
logs/**/*.txt
*.svclog

*.nupkg
*.snupkg
.nuget/
packages/
**/packages/
!**/packages/build/
*.nuget.props
*.nuget.targets

node_modules/

*.publish.xml
*.pubxml
*.publishproj
PublishScripts/
*.azurePubxml

ecf/
rcf/
csx/
*.build.csdef

secrets.json
**/secrets.json
.env
.env.*
appsettings.Development.json
appsettings.Production.json


*.tmp
*.tmp_proj
*.bak
~$*
*~
*.dbmdl
Thumbs.db
Desktop.ini
.DS_Store

.idea/
*.vsix
*.gpState
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
_TeamCity*
*.dotCover
.axoCover/
coverage*.json
coverage*.xml
coverage*.info
*.coverage
*.coveragexml
_NCrunch_*
.NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*
*.mm.*
AutoTest.Net/
*.received.*
BenchmarkDotNet.Artifacts/
MigrationBackup/
Backup*/
_UpgradeReport_Files/
UpgradeLog*.*
ServiceFabricBackup/
FakesAssemblies/
*.GhostDoc.xml
AppPackages/
BundleArtifacts/
*.appx
*.appxbundle
*.appxupload
*.cab
*.msi
*.msix
*.msm
*.msp